<!DOCTYPE html>
<html lang="en" class="no-js">
    <!-- Begin Head -->
    <head>
        <!-- Basic -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>RK Group </title>
        <meta name="keywords" content="HTML5 Theme" />
        <meta name="description" content="Megakit - HTML5 Theme">
        <meta name="author" content="keenthemes.com">

        <!-- Web Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">

        <!-- Vendor Styles -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="stylesheets/animate.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/themify/themify.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/scrollbar/scrollbar.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/swiper/swiper.min.css" rel="stylesheet" type="text/css"/>
        <link href="vendor/cubeportfolio/css/cubeportfolio.min.css" rel="stylesheet" type="text/css"/>

        <!-- Theme Styles -->
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
        <link href="stylesheets/global/global.css" rel="stylesheet" type="text/css"/>
        <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="stylesheets/karstyle.css" rel="stylesheet" type="text/css"/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    </head>
    <!-- End Head -->

    <!-- Body -->
    <body>

        <!--========== HEADER ==========-->
        <header class="navbar-fixed-top s-header js__header-sticky js__header-overlay">
            <!-- Navbar -->
            <div class="s-header__navbar">
                <div class="s-header__container">
                    <div class="s-header__navbar-row">
                        <div class="s-header__navbar-row-col">
                            <!-- Logo -->
                            <div class="s-header__logo">
                                <a href="index" class="s-header__logo-link">
                                    <img class="s-header__logo-img s-header__logo-img-default" src="images/rklogo.png" alt="Megakit Logo">
                                    <img class="s-header__logo-img s-header__logo-img-shrink" src="images/rklogo-inv.png" alt="Megakit Logo">
                                </a>
                            </div>
                            <!-- End Logo -->
                        </div>
                        <div class="s-header__navbar-row-col">
                            <!-- Trigger -->
                            <a href="javascript:void(0);" class="s-header__trigger js__trigger">
                                <span class="s-header__trigger-icon"></span>
                                <svg x="0rem" y="0rem" width="3.125rem" height="3.125rem" viewbox="0 0 54 54">
                                    <circle fill="transparent" stroke="#fff" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
                                </svg>
                            </a>
                            <!-- End Trigger -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Navbar -->

            <!-- Overlay -->
            <div class="s-header-bg-overlay js__bg-overlay">
                <!-- Nav -->
                <nav class="s-header__nav js__scrollbar">
                    <div class="container-fluid">

                        <!-- Menu List -->
                        <ul class="list-unstyled s-header__nav-menu">
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="/">Home</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="/about">About</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="/estate">Real -Estate</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="/construction">Construction Services</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="/consulting">Consulting</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="/finance">Finance</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="/portfolio">Portfolio</a></li>
                            <li class="s-header__nav-menu-item"><a class="s-header__nav-menu-link s-header__nav-menu-link-divider" href="/contacts">Contacts</a></li>
                        </ul>
                        <!-- End Menu List -->
                    </div>
                </nav>
                <!-- End Nav -->

                <!-- Action -->
                <ul class="list-inline s-header__action s-header__action--lb">
                    <li class="s-header__action-item"><a class="s-header__action-link -is-active" href="#">En</a></li>
                    <li class="s-header__action-item"><a class="s-header__action-link" href="#">Fr</a></li>
                </ul>
                <!-- End Action -->

                <!-- Action -->
                <ul class="list-inline s-header__action s-header__action--rb">
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="#">
                            <i class="g-padding-r-5--xs ti-facebook"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Facebook</span>
                        </a>
                    </li>
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="#">
                            <i class="g-padding-r-5--xs ti-twitter"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Twitter</span>
                        </a>
                    </li>
                    <li class="s-header__action-item">
                        <a class="s-header__action-link" href="#">
                            <i class="g-padding-r-5--xs ti-instagram"></i>
                            <span class="g-display-none--xs g-display-inline-block--sm">Instagram</span>
                        </a>
                    </li>
                </ul>
                <!-- End Action -->
            </div>
            <!-- End Overlay -->
        </header>
        <!--========== END HEADER ==========-->


      <!-- Culture -->
        <div class="g-promo-section">
            <div class="container g-padding-y-80--xs g-padding-y-125--sm">
                <div class="row">
                    <div class="col-md-4 g-margin-t-15--xs g-margin-b-60--xs g-margin-b-0--lg">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md" style="color: white;">About</h2>
                        </div>
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
                            <h2 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md kar-rk">RK Group</h2>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                        <p class="g-font-size-18--xs kar-desc-txt">RK Group is a well established company that delivers professional expert advise, finance services  and consulting to our valued respected customers. Our qualified team are very diligent in finding the right solution for you and strive to find you the best solution for your property development and investment needs.</p>
                        <p class="g-font-size-18--xs kar-desc-txt">We believe in strong company management, investor relations, corporate goverence & corporate social responsibility.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 g-promo-section__img-right--lg g-bg-position--center g-height-100-percent--md js__fullwidth-img">
                <img class="img-responsive" src="images/970x970/03.jpg" alt="Image">
            </div>
        </div>
        <!-- End Culture -->
        <div id="js__scroll-to-section" class="container g-padding-y-80--xs g-padding-y-125--sm" style="width: 100%;">
            <div class="g-text-center--xs g-margin-b-100--xs">
                <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--primary g-letter-spacing--2 g-margin-b-25--xs kar-welcome">Welcome to RK Group</p>
                <h2 class="g-font-size-32--xs g-font-size-36--md ">We Create Beautiful Experiences <br> That Drive Successful Businesses.</h2>
            </div>
            <div class="row g-margin-b-60--xs g-margin-b-70--md">
                <div class="col-sm-4 g-margin-b-60--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown animated" data-wow-duration=".3" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">
                                <i class="fa fa-building-o kar-icon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs kar-ft-head">Real Estate</h3>
                            <p class="g-margin-b-0--xs kar-txt-ft">We seek to improve Revenue, Profitability and Growth for our customers in this segment.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 g-margin-b-60--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown animated" data-wow-duration=".3" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                                <i class="fa fa-pie-chart kar-icon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Construction</h3>
                            <p class="g-margin-b-0--xs kar-txt-ft">RK Development is a boutique Property Development based in Melbourne.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown animated" data-wow-duration=".3" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
                                <i class="fa fa-line-chart kar-icon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Business Growth</h3>
                            <p class="g-margin-b-0--xs kar-txt-ft">We have recently started to work in Business Growth and for that we have a excillent team of experienced players in this field.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // end row  -->
            <div class="row">
                <div class="col-sm-4 g-margin-b-60--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown animated" data-wow-duration=".3" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
                                <i class="fa fa-money kar-icon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Finance</h3>
                            <p class="g-margin-b-0--xs kar-txt-ft">Our team of experienced and dedicated financial professionals are here to help you every step of the way throughout your loans / insurance process.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 g-margin-b-60--xs g-margin-b-0--md">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown animated" data-wow-duration=".3" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                                <i class="fa fa-briefcase kar-icon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Consulting</h3>
                            <p class="g-margin-b-0--xs kar-txt-ft">Our aim is to nurture client relationships with a diverse range of in-house services.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="clearfix">
                        <div class="g-media g-width-30--xs">
                            <div class="wow fadeInDown animated" data-wow-duration=".3" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInDown;">
                                <i class="fa fa-life-ring kar-icon" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="g-media__body g-padding-x-20--xs">
                            <h3 class="g-font-size-18--xs">Support</h3>
                            <p class="g-margin-b-0--xs kar-txt-ft">RK Groups provide different services and support for our valuable clients in developing their Business and grow our tree of development</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // end row  -->
        </div>
        <div class="container g-padding-y-80--xs">
            <div class="g-text--xs g-margin-b-40--xs">
              <div class="ab2-left-box g-text-center--xs"><img src="images/970x970/construction.jpg" alt="about-img-1">
              </div>
              <br/>
              <div class="container">
                <div class="g-text-center--xs">
                  <h3 >VISION</h3>
                </div>
                  <p>
                    Our vision is to become one of Melbourne’s industry leaders in providing cutting edge property Development, Construction, Consulting & Investment and Finance advice and services, by working relentlessly to build a solid financial future for all our clients.
                  </p>
              </div>
              <div class="container">
                <div class="g-text-center--xs">
                  <h3>MISSION</h3>
                </div>
                  <p>
                    RK Groups is a parent company of RK Development. RK Development is a well established company that delivers professional expert advice and consulting to our valued respected customers,
                     with a range of retail business ventures, investments, project developments, Business Management, Marketing and Advertising, Hotel Investment
                      and Management.The team at RK Groups have built their foundation with 30 years of experience and skills to commit with passion and dedication
                     in ensuring their valued clients capitalise on the highest Return on Investment from Business Ventures, Investments and People through our Consulting and Finance Services.
                  </p>
                  <p>
                    RK Groups’ core value is to deliver a seamless experience with the desired capital results, purely by the team investing time with their valued clients invested with RK Groups.
                  </p>
              </div>
              <div class="container">
                <div class="g-text-center--xs">
                  <h3>CORE VALUES</h3>
                </div>
                <ul>
                  <li>Quality</li>
                  <li>Customer Centric</li>
                  <li>Trustworthy</li>
                  <li>Guaranteed Return</li>
                  <li>Passion</li>
                  <li>Integrity</li>
                  <li>Innovative</li>
                  <li>Making the Difference</li>
                  <li>On Time Delivery Promise</li>
                  <li>Strive to Excellence</li>
                  <li>Value for Money</li>
                  <li>A Friendly Relation with Professional Importance</li>
                </ul>
              </div>
            </div>
            <div class="s-portfolio">

            </div>
        </div>
        <div id="js__scroll-to-section" class="container g-padding-y-80--xs g-padding-y-125--sm" style="width: 100%;">
            <div class="about-box-2-main-cont">
              <div class="ab2-right-box">
                <div class="ab2-content-cont">
                  <div class="container">
                    <h4 class="g-font-size-40--xs g-font-size-50--sm g-font-size-60--md kar-rk">Our Approach__</h4>
                    <h2>We believe in three essentials</h2>
                    <h5>01 People</h5>
                    <h5>02 Guaranteed Return on Investment</h5>
                    <h5>03 Growth Solutions Success Journey</h5>
                  </div>
                </div>
              </div>
              <a class="text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50" href="/career">Career</a>
            </div>
            <!-- // end row  -->
            <!-- // end row  -->
        </div>


        <!--========== END PAGE CONTENT ==========-->

        <!--========== FOOTER ==========-->
        <footer class="g-bg-color--dark">
            <!-- Links -->
            <div class="g-hor-divider__dashed--white-opacity-lightest">
                <div class="container g-padding-y-80--xs">
                    <div class="row">
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="/">Home</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="/about">About</a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" href="/contacts">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-20--xs g-margin-b-0--md">
                            <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                                <li><a class="g-font-size-15--xs g-color--white-opacity" >Twitter <span class="badge">Coming Soon</span></a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" >Facebook <span class="badge">Coming Soon</span></a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" >Instagram <span class="badge">Coming Soon</span></a></li>
                                <li><a class="g-font-size-15--xs g-color--white-opacity" >YouTube <span class="badge">Coming Soon</span></a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2 g-margin-b-40--xs g-margin-b-0--md">
                          <ul class="list-unstyled g-ul-li-tb-5--xs g-margin-b-0--xs">
                              <li><a class="g-font-size-15--xs g-color--white-opacity" >Privacy Policy <span class="badge">Coming Soon</span></a></li>
                              <li><a class="g-font-size-15--xs g-color--white-opacity" >Terms &amp; Conditions <span class="badge">Coming Soon</span></a></li>
                          </ul>
                        </div>
                        <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 s-footer__logo g-padding-y-50--xs g-padding-y-0--md">
                            <h3 class="g-font-size-18--xs g-color--white">RK Group</h3>
                            <p class="g-color--white-opacity">We are a group focusing on culture, luxury, editorial &amp; art. Somewhere between sophistication and simplicity.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Links -->

            <!-- Copyright -->
            <div class="container g-padding-y-50--xs">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="index">
                            <img class="g-width-100--xs g-height-auto--xs" src="images/rklogo.png" alt="Megakit Logo">
                        </a>
                    </div>
                    <div class="col-xs-6 g-text-right--xs">
                    </div>
                </div>
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->

        <!-- Back To Top -->
        <a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

        <!--========== JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) ==========-->
        <!-- Vendor -->
        <script type="text/javascript" src="vendor/jquery.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.migrate.min.js"></script>
        <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.smooth-scroll.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.back-to-top.min.js"></script>
        <script type="text/javascript" src="vendor/scrollbar/jquery.scrollbar.min.js"></script>
        <script type="text/javascript" src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="vendor/swiper/swiper.jquery.min.js"></script>
        <script type="text/javascript" src="vendor/waypoint.min.js"></script>
        <script type="text/javascript" src="vendor/counterup.min.js"></script>
        <script type="text/javascript" src="vendor/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
        <script type="text/javascript" src="vendor/jquery.parallax.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsXUGTFS09pLVdsYEE9YrO2y4IAncAO2U"></script>
        <script type="text/javascript" src="vendor/jquery.wow.min.js"></script>

        <!-- General Components and Settings -->
        <script type="text/javascript" src="javascripts/global.min.js"></script>
        <script type="text/javascript" src="javascripts/components/header-sticky.min.js"></script>
        <script type="text/javascript" src="javascripts/components/scrollbar.min.js"></script>
        <script type="text/javascript" src="javascripts/components/magnific-popup.min.js"></script>
        <script type="text/javascript" src="javascripts/components/swiper.min.js"></script>
        <script type="text/javascript" src="javascripts/components/counter.min.js"></script>
        <script type="text/javascript" src="javascripts/components/portfolio-3-col.min.js"></script>
        <script type="text/javascript" src="javascripts/components/parallax.min.js"></script>
        <script type="text/javascript" src="javascripts/components/google-map.min.js"></script>
        <script type="text/javascript" src="javascripts/components/wow.min.js"></script>
        <!--========== END JAVASCRIPTS ==========-->

    </body>
    <!-- End Body -->
</html>
